
@{
    ViewBag.Title = "DriverRegister";
}

<!DOCTYPE html>
<html lang="en">
<head>

</head>

<!--Pulling Awesome Font -->
<


<body>
    <br><br><br><br>
    <center>
        <div class="container">
            <div class="row main">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <h3 align='center'> <h1 class="title"></h1> </h3>
                        <hr />
                    </div>
                </div>
                <br><br>
                <div class="main-login main-center">
                    <form class="form-horizontal" method="post" action="#">

                        <div class="form-group">
                            <font color="#FFFFFF">
                                <label for="name" class="cols-sm-2 control-label">ชื่อผู้ใช้</label>

                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="Name" id="Name" placeholder="Enter your Name" />
                                    </div>
                                </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">Email</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="Email" id="Email" placeholder="Enter your Email" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">รหัสผ่าน</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="Password" id="Password" placeholder="Enter your Password" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirm" class="cols-sm-2 control-label">ยืนยันรหัสผ่าน</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm your Password" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Tel" class="cols-sm-2 control-label">เบอร์โทร</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="tel" class="form-control" name="Tel" id="Tel" placeholder="Enter your Tel" />

                                </div>
                            </div>
                        </div>
                                        <div class="form-group">
                                            <label for="Tel" class="cols-sm-2 control-label">เลขที่ใบอนุญาติขับขี่</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                    <input type="tel" class="form-control" name="Passport" id="Passport" placeholder="Enter your Driving license" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Tel" class="cols-sm-2 control-label" style="color:white">บ้านเลขที่</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                    <input type="tel" class="form-control" name="House_number" id="House_number" placeholder="Enter your House number" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="Tel" class="cols-sm-2 control-label" style="color:white">ตำบล</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                    <input type="tel" class="form-control" name="District" id="District" placeholder="Enter your District" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Tel" class="cols-sm-2 control-label" style="color:white">อำเภอ</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                    <input type="tel" class="form-control" name="Area" id="Area" placeholder="Enter your Area" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Tel" class="cols-sm-2 control-label" style="color:white">จังหวัด</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                    <input type="tel" class="form-control" name="province" id="province" placeholder="Enter your province" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Tel" class="cols-sm-2 control-label" style="color:white">รหัสไปร์ษณีย์</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                    <input type="tel" class="form-control" name="Codeid" id="Codeid" placeholder="Enter your Zip code" />

                                                </div>
                                            </div>
                                        </div>
                                        
                                            <br />
                                                <h6><font color="#FFFFFF">ใส่รูปภาพรถของท่าน</font></h6>
                                                <input class="form-control" type="file">
                                        <br />
                                        
                                        <input class="form-control" type="file">
                                        <br />
                                        
                                        <input class="form-control" type="file">
                                        <br />
                                        
                                        <input class="form-control" type="file">
                                        <br />
                                            
                                        
                                        </font>

                                        <div class="form-group ">
                                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button"@{MessageBox.Show("สมัครสมาชิกสำเร็จ");}>ยืนยัน</button>
                                        </div>
                                        <div class="login-register">
                                            <button1 type="button" class="btn btn-default">@Html.ActionLink("เข้าสู่ระบบ", "Index", "Index")</button1>
                                        </div>
</form>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="assets/js/bootstrap.js"></script>

    </center>

</body>
</html>

