

@{
    ViewBag.Title = "Driver2";
}

<!DOCTYPE html>
<html lang="en">
<head>

</head>

<!--Pulling Awesome Font -->
<


<body>

    <br><br><br>
    @*<h3 align='center'>
        <font color="#FFFFFF">กรุณาเลือกคนขับรถที่ท่านต้องการ</font>
        <br><br><br>*@
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" alt="" src="http://placehold.it/700x400"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#" value=">55555</a>
                    </h4>
                    <h5>Driver</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet num</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">★ ★ ★ ★ ☆</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" alt="" src="http://placehold.it/700x400"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Item Three</a>
                    </h4>
                    <h5>$24.99</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">★ ★ ★ ★ ☆</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" alt="" src="http://placehold.it/700x400"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Item Four</a>
                    </h4>
                    <h5>$24.99</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">★ ★ ★ ★ ☆</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" alt="" src="http://placehold.it/700x400"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Item Five</a>
                    </h4>
                    <h5>$24.99</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">★ ★ ★ ★ ☆</small>
                </div>
            </div>
        </div><div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" alt="" src="http://placehold.it/700x400"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Item Two</a>
                    </h4>
                    <h5>$24.99</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">★ ★ ★ ★ ☆</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" alt="" src="http://placehold.it/700x400"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Item Six</a>
                    </h4>
                    <h5>$24.99</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">★ ★ ★ ★ ☆</small>
                </div>
            </div>
        </div>
    </div>
        @*<input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <br>
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <br>
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <br>
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="90px" height="90px" />*@
        <br />
        <button type="button" class="btn btn-group   glyphicon-log-in ">@Html.ActionLink("ตกลง", "Driverinfo", "Driverinfo")</button>
        <button type="button" class="btn btn-group   glyphicon-log-in ">@Html.ActionLink("ย้อนกลับ", "Index", "Index")</button>
        <button type="button" class="btn btn-group   glyphicon-log-in ">@Html.ActionLink("ดูที่เที่ยว", "Firstpage", "Firstpage")</button>

    </h3>

</body>
</html>

