
@{
    ViewBag.Title = "Driverinfo";
}

<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>
    <center>
        <br /><br /><br />
        <input type="image" src="http://www.mx7.com/i/2ef/FsPVV6.png" width="242px" height="164px" />
        <br /><br />
        <input type="image" src="http://www.mx7.com/i/0ea/bcLtXd.png" width="138px" height="111px" />
        <br /><br />
        <font color="#FFFFFF">
            ชื่อผู้ขับขี่ นาย xxx xxxx
            <br />
            เบอร์โทร 08x-xxx-xxxx
            <br />
            email Thaicarontour@gmail.com
        </font>
        <br />
        <br />
        <button type="button" class="btn btn-group   glyphicon-log-in ">@Html.ActionLink("ย้อนกลับ", "Index", "Index")</button>
        <button type="button" class="btn btn-group   glyphicon-log-in ">@Html.ActionLink("ดูที่เที่ยว", "Firstpage", "Firstpage")</button>
        <br />
        <br />
        <input type="image" src="http://s3-ap-northeast-1.amazonaws.com/cgblogassets/blog/th_TH/wp-content/uploads/2015/04/MostBeautifulCars_LamborghiniGallardo.jpg" width="300px" height="150px" />
        <input type="image" src="https://img.kapook.com/u/thachapol/b/f96994.jpg" width="300px" height="150px" />
        <input type="image" src="http://www.rssportscars.com/photos/news/lamborghini-aventador-roadster-office-k/aventador-office-k-26-m.jpg" width="300px" height="150px" />
        <input type="image" src="http://www.eurocarnews.com/media/pictorials/1865/10130-web.jpg" width="300px" height="150px" />
    </center>

</body>
</html>

